// container all the page
.show-container {

  width: 90%;
  margin: 0 auto;

}
// full page
.main-article {
  p {
    font-weight: bold;
    color: blue;
    margin-top: 25px;
  }

  h2 {
    font-weight: bold;

  }

  h3 {
    font-size: 16px;
    line-height: 25px;

    margin-bottom: 15px;
  }


}
 // full page
 .author {

   border-top: 1px solid;
   border-color: lightgrey;
   h4 {
    margin-top: 10px;
    font-weight: bold;
    color: blue;
    font-size: 14px;
    margin-bottom: 0px;
  }

  h5 {
    color:  grey;
    font-size: 14px;
  }
}
// flexbox begin

.wrapper {
  display: flex;
}

#list {
  flex: 0 0 350px;
  padding: 25px;

  h2 {
    text-align: center;
    padding: 5px;
    background-color: grey;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
  }
}

.midle-article {
  img {
    width: 100%;
    height: auto;

  }

  p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 45px;
    margin-top: 45px;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    padding: 2px;
    background-color: grey;
    border-radius: 6px;
  }

  h3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    // margin-bottom: 10px;
    margin-top:30px;
    &:hover {
      color: #069;
    }
  }

  a {
    text-decoration: none;

  }
  .bottom {
    width: 500px;
    img {
     width: 500px;
   }
 }
}



@media (min-width: 100px) and (max-width: 675px) {
  .wrapper {
   display: block;
 }

 #list {
  width: 300px;
  padding: 15px;
  margin: auto;
}

.midle-article {
  .bottom {
    width: 300px;
    img {
     width: 300px;
   }
 }
}


}

@media (min-width: 676px) and (max-width: 1023px) {
  .wrapper {
   display: block;
 }

 #list {
  width: 400px;
  padding: 15px;
  margin: auto;
}

.midle-article {
  .bottom {
    width: 300px;
    img {
     width: 300px;
   }
 }
}
}
