<div class="wrapper-noticias">
  <div class="noticia-container">
    <% @articles.each do |article|  %>
    <%= render 'shared/articulo', article: article %>
    <% end %>
  </div>
  <div id="noticia-ranking">
    <h2>Mas Leidas</h2>
   <% @articles.each do |article|  %>
   <%= render 'shared/ranking', article: article %>
   <% end %>
 </div>
</div>

<%= link_to 'articlenew', new_article_path %>
