.ranking {

}


.ranking-title {
  h1 {
    font-size: 10px;
    color: black;
    padding: 10px;
  }
}


.ranking-photo {
  img {
    width: 100px;
    padding: 10px;
  }
}


.wrapper-ranking {
  display: flex;
  justify-content: space-between;
}
